.marquee-container {
    position: relative;
    overflow: hidden;
}

.marquee-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-200%); /* Start from off-screen */
    animation: scroll 120s linear infinite; /* Default animation */
}

.marquee-column.reverse {
    animation-direction: reverse; /* Reverse the animation for downwards scrolling */
}

/* Animation keyframes */
@keyframes scroll {
    0% {
        transform: translateY(0%); /* Start from the visible area */
    }
    100% {
        transform: translateY(-90%); /* End at the end of the list */
    }
}
